<div *ngIf="valid === true" class='details'>
    <div class="checkmark">
        <mat-icon style="color: green;">check_circle</mat-icon>
    </div>
    <p class="title">{{title}}</p>
    <p class="desc">
        <ng-content select="[valid]"></ng-content>
    </p>
</div>
<div *ngIf="valid === false" class='details'>
    <div class="checkmark">
        <mat-icon *ngIf="!valid" style="color: red;">report_problem</mat-icon>
    </div>
    <p class="title">{{title}}</p>
    <p class="desc">
        <ng-content select="[invalid]"></ng-content>
    </p>
</div>