<div *ngIf="valid" class='details'>
    <div class="checkmark">
        <mat-icon class="green" [ngClass]="{'grey': !changed}">check_circle</mat-icon>
    </div>
    <p class="title" [ngClass]="{'grey': !changed}">{{title}}</p>
    <p class="desc" [ngClass]="{'grey': !changed}">
        <ng-content select="[valid]"></ng-content>
    </p>
</div>
<div *ngIf="valid === false" class='details'>
    <div class="checkmark">
        <mat-icon *ngIf="!valid" class="red">report_problem</mat-icon>
    </div>
    <p class="title">{{title}}     {{ changed ? '+' : '-'}}</p>
    <p class="desc">
        <ng-content select="[invalid]"></ng-content>
    </p>
</div>