<app-dialog>
    <mat-progress-bar [style.visibility]="inProgress ? 'visible' : 'hidden'" mode="indeterminate">
    </mat-progress-bar>
    <section>
        <h1>Create Puzzle</h1>
    </section>
    <form *ngIf="(checkedPuzzle$ | async) as checkedPuzzle" [formGroup]="puzzleForm"
        (ngSubmit)="onSubmit(checkedPuzzle)">
        <section>
            <div>
                <mat-form-field class="kit-full-width">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput formControlName="title" autocomplete="off">
                    <mat-hint>This will appear on the thumbnail of the puzzle</mat-hint>
                </mat-form-field>
            </div>
        </section>
        <section>
            <app-puzzle-check title="Title" [valid]="checkedPuzzle.checks.title">
                <span  valid>{{checkedPuzzle.puzzle.details.title}}</span>  
                <span  invalid>Add title!</span>  
            </app-puzzle-check>

            <app-puzzle-check title="Starting view" [valid]="checkedPuzzle.checks.position">
                <span  valid>{{printPos(checkedPuzzle)}}</span>  
                <span  invalid>Use the panoram or the map to set up the starting view!</span>  
            </app-puzzle-check>

            <app-puzzle-check title="Question" [valid]="checkedPuzzle.checks.question">
                <span  valid>{{checkedPuzzle.puzzle.details.question}}</span>  
                <span  invalid>
                    <a [routerLink]="['', { outlets: { dialog: 'qa' } }]">
                        Ask a question!
                    </a>
                </span>  
            </app-puzzle-check>

            <app-puzzle-check title="Answers" [valid]="checkedPuzzle.checks.answers">
                <span  valid *ngFor="let answer of checkedPuzzle.puzzle.details.answers">
                    {{answer}}
                </span>  
                <span  invalid>
                    <a [routerLink]="['', { outlets: { dialog: 'qa' } }]">
                        Provide at least one answer!
                    </a>
                </span>  
            </app-puzzle-check>

            <app-puzzle-check title="Author" [valid]="checkedPuzzle.checks.author">
                <span  valid>
                    <ng-container *ngIf="currentUser$ | async as user">
                        <!--<app-avatar [url]="user.photoURL"></app-avatar>-->
                        {{ user.displayName || user.email}}
                    </ng-container>
                </span>  
                <span  invalid>
                    <a [routerLink]="['', { outlets: { dialog: 'signin' } }]"> Sign In </a>
                </span>  
            </app-puzzle-check>

        </section>
        <section>
            <div class="kit-button-row">
                <span class="kit-separator"></span>
                <button mat-button type="button" (click)='close()'>
                    Close
                </button>
                <button [disabled]="inProgress || !isPuzzleValid(checkedPuzzle)"
                        color="primary" mat-flat-button type="submit">
                    {{getOperationTitle(checkedPuzzle)}}
                </button>
            </div>
        </section>
    </form>
</app-dialog>