<div class="top-bar"></div>
<div class="bottom-bar"></div>

<div class="bottons-left">
    <button [routerLink]="'map' | dialogLink" mat-mini-fab color="default" matTooltip="Show map">
        <mat-icon>place</mat-icon>
    </button>

    <button [routerLink]="'qa' | dialogLink" mat-mini-fab color="default" matTooltip="Question and answers">
        <mat-icon>contact_support</mat-icon>
    </button>

    <button [routerLink]="'title' | dialogLink" mat-mini-fab color="default" matTooltip="Puzzle Title">
        <mat-icon>short_text</mat-icon>
    </button>
</div>

<div class="bottons-right">
    <button [routerLink]="'save' | dialogLink" mat-fab color="primary" matTooltip="Create puzzle">
        <mat-icon>done</mat-icon>
    </button>

    <button routerLink="/" mat-fab color="default" matTooltip="Close editor">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']" class="content">
    <router-outlet #o="outlet"></router-outlet>
</div>