.content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.logo {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    font-family: 'Lakki Reddy', cursive;
    font-size: 3rem;
    text-shadow: 0 0 .5rem #fff;

    line-height: .8;
    margin: 1em 0.5em;
    pointer-events: none;
    user-select: none;

    color: #000;
}

.header {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    padding: .5em;
}