<app-street-view></app-street-view>

<div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']" class="content">
    <router-outlet #o="outlet"></router-outlet>
</div>

<div class="logo">
    Street<br />
    &nbsp;View<br />
    &nbsp;&nbsp;Puzzle
</div>

<div class="top-right">
    <app-user-menu></app-user-menu>
</div>

<div [@routeAnimations]="od && od.activatedRouteData && od.activatedRouteData['animation']" class="content">
    <router-outlet name="dialog" #od="outlet"></router-outlet>
</div>