.puzzle-list {
  margin: 150px 30px 30px 30px;
}

.bottom-right {   
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;

  button {
      pointer-events: all;
  }
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: white, $alpha: .5);

  pointer-events: all;
}