.details {
    app-checkmark {
        position: absolute;
    }

    p {
        font-size: .8rem;
        margin: 0 0 0 2rem;
    }

    .title {
        font-weight: bold;
        font-size: .6rem;
        margin-top: 1rem;
    }

}